.rectangle {
  height: 50px;
  width: 500px;
  overflow: hidden;
  display: inline-block;
  background-color: tomato;
  transition: height 0.5s;
}

.extended {
  height: 200px;
}

.icon {
  // display: inline;
  // transform: rotate(90deg);
  font-size: 2em;
  height: 100%;
  color: cyan;
  vertical-align: top;

  &:hover {
    cursor: pointer;
  }
}
